/node_modules

/public/hot
/public/storage

/storage/*.key
/storage/whiteboard.json
/storage/framework/laravel-excel/*
/vendor

.env
.env.testing
.env.backup

.phpunit.result.cache

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
.vscode/*
/nbproject
.idea/
laravel-echo-server.lock

composer.lock
composer.phar
