.classpath
.project
.settings
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
config/*.yml
*.crt
*.key
*.jks
*.p12
*.jceks
.vertx
src/main/fabric8/*.yml
**/*.swp
.niogit*
.index
ansible/*.retry
ansible/inventories/**
.idea
*.iml
.buildpath

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

